* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}


.sticky {
	background: white;
	padding: 1rem;
	position: sticky;
	margin-bottom: 3rem;
	border-top: 2rem;
	top: 0;
	border: white;
}

ul li {
	display: inline;
}

li {
	padding: 1rem;
}

.right-nav {
	font-family: Zillab Slab;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	margin-left: 38%;
	margin-right: 3%;
	display: inline;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	padding: 0.20rem;
	width: 7%;
	height: 5%;
	font-size: 1rem;
	border-radius: 15px;
	border-color: #c2195b;
	/*margin-bottom: 1rem;*/
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	padding: 0.25rem;
	width: 7%;
	height: 5%;
	font-size: 1rem;
	border-radius: 20px;
	margin-bottom: 1rem;
	align-content: right;
	border-color: #c2195b;
	margin-top: 1rem;
	margin-left: 82%;
	margin-right: 8%;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;

}

.front-bg {
	background-color:rgba(30,30,50,0.6);
	min-height: 100vh;
	min-width: 100vh;
	position: top;



}

.intro {
	padding:  2rem 10% 3rem;
	text-align: center;
	/*margin-bottom: 1rem;*/
	/*margin-top: 1rem;*/
}

.intro h2, .intro p {
	margin-bottom: 3rem;
}

.title {
	font-family: Zillab Slab;
	font-size: 3rem;
	color: white;
	font-weight: bold;
	text-align: right;
	margin-left: 55%;
	margin-right: 8%;
	padding-top: 5rem;

}

.subtitle {
	font-family: Zillab Slab;
	text-align: right;
	margin-left: 55%;
	margin-right: 8%;
	color: white;

}

.title-2 {
	font-family: Zillab Slab;
	text-align: center;
}



.intro-description {
	text-align: left;
	margin-left: 25%;
	margin-right: 20%;
}

.pre-footer {
	background-color: #f7fbfb;
	font-family: Zillab Slab;
	padding:  5rem 10% 10rem;
	text-align: center;
}

.pre-footer h2 {
	margin-bottom: 3rem;
}

.prefooter-description {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
} 


.book-button {
	background-color: #336589;
	color: white;
	font-family: Zillab Slab;
	padding: 0.25rem;
	width: 8%;
	height: 5%;
	font-size: 1rem;
	border-radius: 20px;
	font-weight: bold;
	margin-top: 1rem;
}


.footer {
	text-align: center;
	margin-bottom: 3rem;
}